<div class="card">
    <h1 id="welcome">Welcome to your profile</h1>
</div>
<br>
<br>
<p><a class="makePost" href="/post">Click here to create a new post</a></p>
<br>
<p class="makePost">Your previous posts will display below</p>
{{#each posts as |Post| }}
{{!-- each post --}}
{{> post Post}}
{{/each}}